* {
    padding: 0; margin: 0; box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    /*Border: 3px dashed #F4978E;*/
    min-height: 100vh;
    width: 100vw

}


.col-1 {

}

.col-2  {

    display: flex;
        flex-direction: column;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;

}

header  {
min-height: 20vh;
}

main {
    /*Border: 3px dashed #F4978E;*/
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}

article {
    flex-grow: 6;
}

aside {
    flex-grow: 1;
    min-width: 10vw;
}

footer {
    min-height: 20vh;
}

nav {

        min-height: 100vh;
        min-width: 20vw;
}


